* {
  margin: 0;
  padding: 0;

  border: 0;
}

.wrapper {
  position: relative;
  width: 800px;
  height: 660px;
  /*border: 1px solid #ccc;*/
  margin: 0 auto;
  background: url('images/assets/bg.png') no-repeat center center/cover;
}

.wrapper .normalbg {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  animation: normalSwitch 2.4s steps(12) infinite;
}

@keyframes normalSwitch {
  0% { background: url('images/background/bg3.png') no-repeat center center/cover; }
  8.33% { background: url('images/background/n1.png') no-repeat center center/cover; }
  16.66% { background: url('images/background/n2.png') no-repeat center center/cover; }
  25% { background: url('images/background/n3.png') no-repeat center center/cover; }
  33.33% { background: url('images/background/n4.png') no-repeat center center/cover; }
  41.66% { background: url('images/background/n5.png') no-repeat center center/cover; }
  50% { background: url('images/background/n6.png') no-repeat center center/cover; }
  58.33% { background: url('images/background/n7.png') no-repeat center center/cover; }
  66.66% { background: url('images/background/n8.png') no-repeat center center/cover; }
  75% { background: url('images/background/n9.png') no-repeat center center/cover; }
  83.33% { background: url('images/background/n10.png') no-repeat center center/cover; }
  91.66% { background: url('images/background/n11.png') no-repeat center center/cover; }
  100% { background: url('images/background/n11.png') no-repeat center center/cover; }
}

.wrapper .limitedbg {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  animation: limitedSwitch 2.4s steps(12) infinite;
}

@keyframes limitedSwitch {
  0% { background: url('images/background/l1.png') no-repeat center center/cover; }
  8.33% { background: url('images/background/l2.png') no-repeat center center/cover; }
  16.66% { background: url('images/background/l3.png') no-repeat center center/cover; }
  25% { background: url('images/background/l4.png') no-repeat center center/cover; }
  33.33% { background: url('images/background/l5.png') no-repeat center center/cover; }
  41.66% { background: url('images/background/l6.png') no-repeat center center/cover; }
  50% { background: url('images/background/l7.png') no-repeat center center/cover; }
  58.33% { background: url('images/background/l8.png') no-repeat center center/cover; }
  66.66% { background: url('images/background/l9.png') no-repeat center center/cover; }
  75% { background: url('images/background/l10.png') no-repeat center center/cover; }
  83.33% { background: url('images/background/l11.png') no-repeat center center/cover; }
  91.66% { background: url('images/background/l12.png') no-repeat center center/cover; }
  100% { background: url('images/background/l12.png') no-repeat center center/cover; }
}

.wrapper .init-box {
  position: relative; 
  width: 100%;
  height: 100%;
  animation: switch 0.6s infinite;
  
}
@keyframes switch {
  0% {background: url('images/background/bg1.png') no-repeat center center/cover;}

  50% {background: url('images/background/bg2.png') no-repeat center center/cover;}

  100% {background: url('images/background/bg3.png') no-repeat center center/cover;}
}

.wrapper .init-box .start-btn1 {
  position: absolute;
  bottom: 133px;
  left: 303px;

  width: 217px;
  height: 84px;
  margin: 0 auto;

  cursor: pointer;
}

.wrapper .init-box .start-btn2 {
  position: absolute;
  bottom: 16px;
  left: 303px;

  width: 217px;
  height: 84px;
  margin: 0 auto;

  cursor: pointer;
}

.wrapper .game-box {
  position: relative; 
  
  width: 100%;
}

.wrapper .game-box .toolbar {
  font-size: 24px;
  line-height: 94px;

  position: relative; 

  width: 100%;
  height: 94px;

  background: url('images/assets/toolbar3.png') center no-repeat;
  background-size: cover;
}

.wrapper .game-box .toolbar .time {
  line-height: 34px; 

  position: absolute;
  top: 18px;
  left: 140px;
}

.wrapper .game-box .toolbar .level {
  line-height: 34px; 

  position: absolute;
  top: 18px;
  left: 294px;

  height: 34px;
}

.wrapper .game-box .toolbar .level img {
  height: 34px;
}

.wrapper .game-box .toolbar .disorder {
  position: absolute;
  left: 341px;

  width: 120px;
  height: 84px;

  cursor: pointer;
}

.wrapper .game-box .toolbar .disorder img {
  position: absolute;
  top: 40px; 
  right: 0;
}

.wrapper .game-box .toolbar .scoring {
  line-height: 34px;

  position: absolute;
  top: 20px;
  left: 622px;

  width: 251px;
  height: 34px;

  cursor: pointer;
}

.wrapper .game-box .toolbar .scoring img {
  height: 30px;
}

.wrapper .game-box .game-area {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .game-box .game-area table#game {
  border-spacing: 0; 
  border-collapse: collapse;
}

.wrapper .game-box .game-area table#game .game-row {
  height: 80px;
}

.wrapper .game-box .game-area table#game .game-row td {
  width: 80px;
  height: 80px;

  text-align: center;
  vertical-align: middle;
}

.wrapper .game-box .game-area table#game .game-row td .pic-box {
  line-height: 64px;

  display: inline-block;

  width: 64px;
  height: 64px;

  cursor: pointer;

  background: url('images/assets/pic-bg1.png') center no-repeat;
  background-size: contain;
}

.wrapper .game-box .game-area table#game .game-row td .pic-box.active {
  width: 80px;
  height: 80px;

  border-radius: 16px; 
  background: url('images/assets/active1.png') center no-repeat;
  background-size: 124%;
}

.wrapper .game-box .game-area table#game .game-row td .pic-box img {
  vertical-align: middle;
}

.wrapper .game-box .game-area #canvas {
  position: absolute;
  left: 0;
  top: 0;

  width: 800px;
  height: 560px;
}

.wrapper .game-win {
  position: absolute;
  top: 0;

  width: 800px;
  height: 660px;

  background: rgba(0, 0, 0, .4) url('images/assets/gamewin.png') center no-repeat;
  background-size: auto;
}

.wrapper .game-win .current {
  position: absolute;
  top: 320px;
  left: 241px;

  width: 350px;
  height: 60px;

  text-align: center;
}

.wrapper .game-win .get-token2 {
  position: absolute;
  top: 473px;
  left: 147px;

  width: 149px;
  height: 79px;

  cursor: pointer;
}

.wrapper .game-win .back-btn2 {
  position: absolute;
  top: 473px;
  left: 522px;

  width: 149px;
  height: 79px;

  cursor: pointer;
}

.wrapper .time-out {
  position: absolute;
  top: 0;

  width: 800px;
  height: 660px;

  background: rgba(0, 0, 0, .4) url('images/assets/timeout.png') center no-repeat;
  background-size: auto;
}

.wrapper .time-out .current-score3 {
  position: absolute;
  top: 286px;
  left: 271px;

  width: 350px;
  height: 60px;

  text-align: center;
}

.wrapper .time-out .back-btn3 {
  position: absolute;
  top: 423px;
  left: 465px;

  width: 149px;
  height: 79px;

  cursor: pointer;
}

.wrapper .time-out .get-token3 {
  position: absolute;
  top: 423px;
  left: 235px;

  width: 149px;
  height: 79px;

  cursor: pointer;
}

.wrapper .game-over {
  position: absolute;
  top: 0;

  width: 800px;
  height: 660px;

  background: rgba(0, 0, 0, .4) url('images/assets/gameover.png') center no-repeat;
  background-size: auto;
}

.wrapper .game-over .current-score {
  position: absolute;
  top: 232px;
  left: 308px;

  width: 350px;
  height: 60px;

  text-align: center;
}

.wrapper .game-over .replay-btn {
  position: absolute;
  top: 483px;
  left: 116px;

  width: 149px;
  height: 79px;

  cursor: pointer;
}
.wrapper .game-over .back-btn {
  position: absolute;
  top: 483px;
  left: 587px;

  width: 149px;
  height: 79px;

  cursor: pointer;
}

.wrapper .game-over .get-token {
  position: absolute;
  top: 483px;
  left: 351px;

  width: 149px;
  height: 79px;

  cursor: pointer;
}

.empty {
  opacity: 0;
}

.hidden {
  display: none;
}

.number {
  display: inline-block;

  width: 34px; 
  height: 34px;

  background-size: contain;
}

/*# sourceMappingURL=index.css.map */
